.DS_Store
*.pid
*.log
{{ cookiecutter.project_slug }}.json

.idea/*
/*.iml
/pkg/
/bin/
/release/
/src/{{ cookiecutter.project_slug }}/{{ cookiecutter.project_slug }}
/src/{{ cookiecutter.project_slug }}/logs/*
/src/run/
